[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
pylint-django = "*"
flake8 = "*"
mypy = "*"
django-stubs = "*"
autopep8 = "*"
isort = "*"
djlint = "*"
djhtml = "*"
django-types = "*"

[requires]
python_version = "3.10"
